.fundoLogin {
    background-image: url(https://ik.imagekit.io/mk7up13hoh/Op%C3%A7%C3%A3o-para-cadastro-login?updatedAt=1716471335748);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}